#XfceNotifyWindow {
    background-image: url('img/background.jpg');
    border-radius: 6px;
    border-width: 1px;
    border-color : #ffffff;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}
#XfceNotifyWindow button {
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    border-style: none;
    box-shadow: none;
    border: 1px solid #d8d7d8;
}